#
# See ft232h-module-swd.cfg
#
# HPS proto2 FTDI chip
adapter driver ftdi
ftdi_vid_pid 0x0403 0x6011

#
# BDBUS
# 0 - SWCLK
# 1 - SWDIO - output
# 2 - SWDIO - input
# 3 - NC
# 4 - MCU_RESET_L - pull low. Do not set high
# 5 - OE for SWD level converter High for enabled

# Use channel B
ftdi_channel 1

# data MSB..LSB       direction (1:out) MSB..LSB
# 0000'0000'0000'0000 0000'0000'0010'0011
ftdi_layout_init 0x0020 0x0023

# nSRST - to turn reset on, turn on output, thus pulling line low
#ftdi_layout_signal nSRST -noe 0x0010

# swd enable - required to allow code to switch to SWD mode
ftdi_layout_signal SWD_EN -data 0x0020

# What to do do enable output "-data 0" is handled specially.
ftdi_layout_signal SWDIO_OE -data 0

# Set up target
transport select swd
source [find target/stm32g0x.cfg]
