[submodule "OPENOS_CORE/src/kernel"]
	path = OPENOS_CORE/src/kernel
	url = https://github.com/OPENOS-dev/OPENOS-kernel.git
[submodule "OPENOS_CORE/src/liboak"]
	path = OPENOS_CORE/src/liboak
	url = https://github.com/OPENOS-dev/OPENOS-liboak.git
[submodule "OPENOS_CORE/src/libopenrsa"]
	path = OPENOS_CORE/src/libopenrsa
	url = https://github.com/OPENOS-dev/OPENOS-libopenrsa.git
[submodule "OPENOS_CORE/src/libvmapp"]
	path = OPENOS_CORE/src/libvmapp
	url = https://github.com/OPENOS-dev/OPENOS-libvmapp.git
[submodule "OPENOS_CORE/src/oakctl"]
	path = OPENOS_CORE/src/oakctl
	url = https://github.com/OPENOS-dev/OPENOS-oakctl.git
[submodule "OPENOS_CORE/src/openos-oak-seal"]
	path = OPENOS_CORE/src/openos-oak-seal
	url = https://github.com/OPENOS-dev/OPENOS-oak-seal.git
[submodule "OPENOS_CORE/src/openos-uname"]
	path = OPENOS_CORE/src/openos-uname
	url = https://github.com/OPENOS-dev/OPENOS-uname.git
[submodule "OPENOS_CORE/src/openos-settings"]
	path = OPENOS_CORE/src/openos-settings
	url = https://github.com/OPENOS-dev/OPENOS-settings.git
[submodule "OPENOS_CORE/src/openos-calendar"]
	path = OPENOS_CORE/src/openos-calendar
	url = https://github.com/OPENOS-dev/OPENOS-calendar.git
[submodule "OPENOS_CORE/src/openos-welcome"]
	path = OPENOS_CORE/src/openos-welcome
	url = https://github.com/OPENOS-dev/OPENOS-welcome.git
[submodule "OPENOS_CORE/src/openos-vmapp"]
	path = OPENOS_CORE/src/openos-vmapp
	url = https://github.com/OPENOS-dev/OPENOS-vmapp.git
[submodule "OPENOS_CORE/src/openos-settingsd"]
	path = OPENOS_CORE/src/openos-settingsd
	url = https://github.com/OPENOS-dev/OPENOS-settingsd.git
[submodule "OPENOS_CORE/src/openos-securityd"]
	path = OPENOS_CORE/src/openos-securityd
	url = https://github.com/OPENOS-dev/OPENOS-securityd.git
[submodule "OPENOS_CORE/src/openos-run"]
	path = OPENOS_CORE/src/openos-run
	url = https://github.com/OPENOS-dev/OPENOS-run.git
[submodule "OPENOS_CORE/src/openos-oak"]
	path = OPENOS_CORE/src/openos-oak
	url = https://github.com/OPENOS-dev/OPENOS-OAK.git
[submodule "OPENOS_CORE/src/opt"]
	path = OPENOS_CORE/src/opt
	url = https://github.com/OPENOS-dev/OPENOS-opt.git
[submodule "OPENOS_CORE/src/OPENUI-desktop"]
	path = OPENOS_CORE/src/OPENUI-desktop
	url = https://github.com/OPENOS-dev/OPENOS-OPENUI-desktop.git
[submodule "OPENOS_CORE/src/linux"]
	path = OPENOS_CORE/src/linux
	url = https://github.com/OPENOS-dev/OPENOS-linux.git
[submodule "OPENOS_CORE/src/apt"]
	path = OPENOS_CORE/src/apt
	url = https://github.com/OPENOS-dev/OPENOS-apt.git
[submodule "OPENOS_CORE/src/pacman"]
	path = OPENOS_CORE/src/pacman
	url = https://github.com/OPENOS-dev/OPENOS-pacman.git
[submodule "OPENOS_CORE/src/bash"]
	path = OPENOS_CORE/src/bash
	url = https://github.com/OPENOS-dev/OPENOS-bash.git
[submodule "OPENOS_CORE/src/coreutils"]
	path = OPENOS_CORE/src/coreutils
	url = https://github.com/OPENOS-dev/OPENOS-coreutils.git
[submodule "OPENOS_CORE/src/systemd"]
	path = OPENOS_CORE/src/systemd
	url = https://github.com/OPENOS-dev/OPENOS-systemd.git
[submodule "OPENOS_CORE/src/util-linux"]
	path = OPENOS_CORE/src/util-linux
	url = https://github.com/OPENOS-dev/OPENOS-util-linux.git
[submodule "OPENOS_CORE/src/glibc"]
	path = OPENOS_CORE/src/glibc
	url = https://github.com/OPENOS-dev/OPENOS-glibc.git
[submodule "OPENOS_CORE/src/gcc"]
	path = OPENOS_CORE/src/gcc
	url = https://github.com/OPENOS-dev/OPENOS-gcc.git
