[submodule "open-os/src/aosp"]
	path = open-os/src/aosp
	url = https://github.com/OPENOS-dev/OpenOS-AOSP.git
[submodule "open-os/src/chromium"]
	path = open-os/src/chromium
	url = https://github.com/OPENOS-dev/OpenOS-chromium.git
