[submodule "open-os/src/aosp"]
	path = open-os/src/aosp
	url = https://github.com/OPENOS-dev/OpenOS-AOSP.git
[submodule "open-os/src/chromium"]
	path = open-os/src/chromium
	url = https://github.com/OPENOS-dev/OpenOS-chromium.git
[submodule "opt"]
	path = opt
	url = https://github.com/OPENOS-dev/OpenOS-OPT.git
[submodule "open-os/src/third_party/kernel"]
	path = open-os/src/third_party/kernel
	url = https://github.com/OPENOS-dev/OpenOS-core.git
