# Copyright 2019 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# These seccomp rules specify only the syscalls used by gdixfwupdate
# when querying the device for its current firmware version.

# rseq should be first due to frequency and purpose to decrease nptl latency
rseq: 1

openat: 1
ARM_set_tls: 1
ioctl: 1
brk: 1
exit: 1
restart_syscall: 1
uname: 1
rt_sigreturn: 1
exit_group: 1
open: 1
fstat64: 1
fstatat64: 1
getrandom: 1
statx: 1
readlink: 1
write: 1
access: 1
nanosleep: 1
clock_nanosleep: 1
clock_nanosleep_time64: 1
fstatfs: 1
fstatfs64: 1
set_tid_address: 1
munmap: 1
set_robust_list: 1
gettid: 1
