CONFIG_PACKAGE_dropbear=m
CONFIG_PACKAGE_sudo=y
CONFIG_PACKAGE_python3-idna=y
CONFIG_PACKAGE_python3-urllib=y
CONFIG_PACKAGE_rsync=y
CONFIG_PACKAGE_iptables-nft=y
CONFIG_PACKAGE_openssh-server=y
CONFIG_WPA_ENABLE_WEP=y
CONFIG_PACKAGE_cros-iperf=y
CONFIG_PACKAGE_iputils-arping=y
CONFIG_PACKAGE_iputils-ping=y
CONFIG_PACKAGE_netperf=y
CONFIG_PACKAGE_cros-send-management-frame=y
CONFIG_PACKAGE_procps-ng=y
CONFIG_PACKAGE_procps-ng-pkill=y
CONFIG_PACKAGE_tar=y
CONFIG_DRIVER_11AC_SUPPORT=y
CONFIG_DRIVER_11AX_SUPPORT=y
CONFIG_WPA_MBO_SUPPORT=y
CONFIG_PACKAGE_tcpdump=y
# CONFIG_BUSYBOX_CONFIG_TAR is not set
CONFIG_PACKAGE_iperf3=y
CONFIG_BUSYBOX_CUSTOM=y
CONFIG_BUSYBOX_CONFIG_TIMEOUT=y
CONFIG_PACKAGE_libopenssl=y
CONFIG_PACKAGE_libopenssl-conf=y
CONFIG_PACKAGE_libopenssl-legacy=y
