build --define=gotags=with_embedded_agent

# Enable bzlmod
build --enable_bzlmod --lockfile_mode=update

# CC toolchain config
build --incompatible_enable_cc_toolchain_resolution
build --action_env BAZEL_DO_NOT_DETECT_CPP_TOOLCHAIN=1

# Set opt as default as it should not make too much difference for Go code.
build --compilation_mode=opt

test --test_output=errors

# Silence warnings for protobuf
build --host_copt=-Wno-unknown-warning-option
build --host_copt=-Wno-stringop-overflow
build --host_copt=-Wno-unused-function
# Silence warnings for zlib
build --host_copt=-Wno-deprecated-non-prototype
