google-api-python-client
google-cloud-compute
google-cloud-datastore
google-genai==2.6.0
googleapis_common_protos
# b/187806838 chrome cannot find system google.protobuf, but user local's works.
# b/363138301 Generated code in infra_libs doesn't work well with protobuf 5.x.x
protobuf<5.0.0
psutil
scipy
setuptools
sshconf==0.2.5
numpy
