# Copyright 2026 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

.gcloudignore
.git
.gitignore
dist/
node_modules/
src/generated/
src/ui/node_modules/
build_err.log
build_out.log
push.sh
