# Copyright 2018 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# These seccomp rules specify only the syscalls used by the SiS FW updater
# tool. The updater tool SiSGetFirmwareId should only be used through
# minijail with these rules.

# rseq should be first due to frequency and purpose to decrease nptl latency
rseq: 1

write: 1
ioctl: 1
read: 1
select: 1
pselect6: 1
brk: 1
rt_sigaction: 1
nanosleep: 1
clock_nanosleep: 1
restart_syscall: 1
exit: 1
rt_sigreturn: 1
exit_group: 1
open: 1
openat: 1
rt_sigprocmask: 1
arch_prctl: 1
set_robust_list: 1
uname: 1
close: 1
readlink: 1
getrlimit: 1
set_tid_address: 1
fstat: 1
newfstatat: 1
getrandom: 1
execve: 1
futex: 1
getpid: 1
prlimit64: arg2 == 0 && arg3 != 0
gettid: 1
mprotect: arg2 in ~PROT_EXEC || arg2 in ~PROT_WRITE
fstatfs: 1
munmap: 1
readlinkat: 1
