# Copyright 2016 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.
# These seccomp rules specify only the syscalls used by the Wacom FW updater
# tool.  The updater wacom_flash should only be used through minijail with
# these rules.
# rseq should be first due to frequency and purpose to decrease nptl latency
rseq: 1

access: 1
arch_prctl: 1
brk: 1
close: 1
execve: 1
exit: 1
exit_group: 1
fstat: 1
newfstatat: 1
getrandom: 1
ioctl: 1
lseek: 1
mmap: arg2 in ~PROT_EXEC || arg2 in ~PROT_WRITE
mseal: 1
mprotect: arg2 in ~PROT_EXEC || arg2 in ~PROT_WRITE
munmap: 1
nanosleep: 1
clock_nanosleep: 1
open: 1
openat: 1
read: 1
faccessat: 1
faccessat2: 1
restart_syscall: 1
rt_sigreturn: 1
stat: 1
write: 1
getpid: 1
fstatfs: 1
set_tid_address: 1
uname: 1
set_robust_list: 1
gettid: 1
