# Copyright 2021 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.
# These seccomp rules specify only the syscalls used by the Zinitix FW update
# tool.  The updater Zinitix_FWupdate should only be used through minijail with
# these rules.

# rseq should be first due to frequency and purpose to decrease nptl latency
rseq: 1

write: 1
# HIDIOCSFEATURE(2): 0xc0024806
# HIDIOCSFEATURE(18): 0xc0124806
# HIDIOCGFEATURE(2): 0xc0024807
# HIDIOCGFEATURE(6): 0xc0064807
# HIDIOCGFEATURE(8): 0xc0084807
# TCGETS : 0x00005401
ioctl: arg1 == 0xc0024806 || arg1 == 0xc0124806 || arg1 == 0xc0124807 || \
arg1 == 0xc0024807 || arg1 == 0xc0064807 || arg1 == 0xc0084807 || \
arg1 == 0x00005401
brk: 1
clock_nanosleep: 1
openat: 1
newfstatat: 1
close: 1
execve: 1
arch_prctl: 1
set_tid_address: 1
set_robust_list: 1
prlimit64: 1
readlinkat: 1
getrandom: arg2 in ~GRND_RANDOM
mprotect: arg2 in ~PROT_EXEC || arg2 in ~PROT_WRITE
access: 1
lseek: 1
read: 1
exit_group: 1
restart_syscall: 1
exit: 1
rt_sigreturn: 1
wait4: 1
clone: 1
clone3: 1
prctl: arg0 == PR_SET_KEEPCAPS || arg0 == PR_SET_NAME
rt_sigaction: 1
dup : 1
fcntl : 1
