# Ideally checks take place in PRESUBMIT.py so `git cl` stays in sync.

[Hook Scripts]
cros format = cros format --check --commit ${PRESUBMIT_COMMIT} --include "*.gn" --include "*.gni" --exclude "*.pb.go" --include "*.go" --include "*.md" --exclude "*_pb2.py" --include "*.py" --include "*.proto" --include "*.star" --include "*.bazel" --include "*.xml" --exclude "*" ${PRESUBMIT_FILES}
cros lint = cros lint --commit ${PRESUBMIT_COMMIT} ${PRESUBMIT_FILES}
chromeos-config generated files = ../platform2/chromeos-config/regen.py --check
chromeos-config unit tests = ../platform2/chromeos-config/run_tests

[Hook Overrides]
# cros_license_check is on by default, but we need to specify it here in order
# for the below exclude_regex to work.
cros_license_check: True

[Hook Overrides Options]
cros_license_check: --exclude_regex=recipes/recipes\.py$ --exclude_regex=payload_utils/test_data/.+conf$ --exclude_regex=payload_utils/pylintrc
