# Copyright 2025 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

protobuf==6.33.4
grpcio-tools==1.75.1
grpcio-reflection==1.75.1
grpcio==1.75.1
google-cloud-storage
pyserial
pylint
pylint-protobuf
pip-tools
setuptools==81.0.0
