# Copyright 2024 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# Google Dolos Board

config BOARD_DOLOS
	bool "Google Dolos"
	select SOC_MSPM0G3507
