${comments}
<div class="product">
<span class="title" id="${Name}">${Name} ${Version}</span>
<a class="show" href="#" onclick="return toggle(this);">show license text</a>
<span class="homepage"><a href="${URL}">homepage</a></span>
<div class="licence">
<pre>${license_text}</pre>
<ul>
${license_ptr}
</ul>
</div>
</div>

