# Copyright 2026 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

config HWREV_VALUE
    int "hwrev value"
    default 7

source "Kconfig.zephyr"
