# Neuron delegate has some huge function that we want to keep for easier
# updating with MediaTek internal code base in the future.
filter=-readability/fn_size

# Neuron delegate may use its own TODO syntax.
filter=-readability/todo
