# Per-project `repo upload` hook settings.
# https://chromium.googlesource.com/chromiumos/repohooks/

[Hook Scripts]
cros format = cros format --check --exclude 'third_party/*' --commit ${PRESUBMIT_COMMIT} ${PRESUBMIT_FILES}
cros lint = cros lint --exclude 'third_party/*' --commit ${PRESUBMIT_COMMIT} ${PRESUBMIT_FILES}
unittests = ./run_tests

[Hook Overrides]
cros_license_check: true
long_line_check: true
tab_check: true
stray_whitespace_check: true

[Hook Overrides Options]
cros_license_check: --exclude_regex=third_party/.*
long_line_check: --exclude_regex=third_party/.*
tab_check: --exclude_regex=third_party/.*
stray_whitespace_check: --exclude_regex=third_party/.*
