[Desktop Entry]
Name=About Open-OS
GenericName=System Information
Comment=View information about your Open-OS system
Exec=gnome-control-center about
Icon=openos-logo_128.png
Terminal=false
Type=Application
Categories=System;Settings;
OnlyShowIn=GNOME;Pantheon;
StartupNotify=true
