# Copyright 2025 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

tools/doloscmd/__pycache__/
tools/doloscmd/build/
tools/doloscmd/doloscmd.egg-info/
tools/doloscmd/proto/doloscmd_pb2.py
