/* Copyright 2025 The ChromiumOS Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

/dts-v1/;

#include <ti/mspm0/g/mspm0g3507.dtsi>
#include <ti/mspm0/g/mspm0g1x0x_g3x0x-pinctrl.dtsi>

#include <zephyr/dt-bindings/clock/mspm0_clock.h>
#include <zephyr/dt-bindings/gpio/gpio.h>
#include <zephyr/dt-bindings/input/input-event-codes.h>

#include "adc.dtsi"
#include "gpio.dtsi"

/ {
	model = "Maui Proto v1";
	compatible = "ti,mspm0g3507";

	chosen {
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,console = &uart0;
		zephyr,shell-uart = &uart0;
	};

	leds: leds {
		compatible = "gpio-leds";

		ec_led_green: ec_led_green {
			gpios = <&gpioa 12 GPIO_ACTIVE_HIGH>;
		};
		ec_led_amber: ec_led_amber {
			gpios = <&gpioa 13 GPIO_ACTIVE_HIGH>;
		};
	};

	hwrev {
		compatible = "google,maui-hwrev";
		gpios = <&gpioa 23 GPIO_ACTIVE_HIGH>,
				<&gpioa 4 GPIO_ACTIVE_HIGH>,
				<&gpioa 3 GPIO_ACTIVE_HIGH>;
	};

	dut_sbu_mux: dut-sbu-mux {
		compatible = "google,maui-sbu-mux";
		status = "okay";

		pdc = <&pdc>;
		mux-oe-gpios = <&gpiob 6 GPIO_ACTIVE_LOW>;
		mux-sel-gpios = <&gpiob 7 GPIO_ACTIVE_HIGH>;
	};
};

&cpu0 {
	clock-frequency = <DT_FREQ_M(80)>;
};

&ulpclk {
	clock-frequency = <DT_FREQ_M(40)>;
	clk-div = <2>;
};

&mclk {
	clock-frequency = <DT_FREQ_M(80)>;
	clocks = <&hsclk 0>;
};

&hsclk {
	clocks = <&syspll2x 0>;
	status = "okay";
};

&syspll2x {
	status = "okay";
};

&flash0 {
	status = "okay";
};

&pinctrl {
	status = "okay";
};

&gpioa {
	status = "okay";
};

&gpiob {
	status = "okay";
};

&i2c0 {
	pinctrl-0 = <&i2c0_scl_pa1 &i2c0_sda_pa0>;
	pinctrl-names = "default";
	status = "okay";

	pdc: tps6699x@20 {
		compatible = "ti,tps6699x";
		reg = <0x20>;
		irq-gpios = <&gpioa 28 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
	};
};

&uart0 {
	status = "okay";

	current-speed = <115200>;
	pinctrl-0 = <&uart0_tx_pa10 &uart0_rx_pa11>;
	pinctrl-names = "default";
};

&uart1 {
	status = "okay";
	current-speed = <12000000>;
	pinctrl-0 = <&uart1_rx_pa9>;
	pinctrl-names = "default";
};

&vref0 {
	status = "okay";
};
