# Rules for starting huddly-monitor, within cfm-device-monitor

# Adding device
ACTION=="add", SUBSYSTEM=="usb", \
ENV{ID_VENDOR_ID}=="2bd9", ENV{ID_MODEL_ID}=="0011", \
MODE="0664"
