[Hook Scripts]
cros format = cros format --check --commit ${PRESUBMIT_COMMIT} -- ${PRESUBMIT_FILES}
cros lint = cros lint --commit ${PRESUBMIT_COMMIT} -- ${PRESUBMIT_FILES}

[Hook Overrides]
# Empty for now

[Hook Overrides Options]
# Empty for now
