# Per-project `repo upload` hook settings.
# https://chromium.googlesource.com/chromiumos/repohooks/

[Hook Scripts]
cros lint = cros lint ${PRESUBMIT_FILES}
cros format = cros format --check --commit ${PRESUBMIT_COMMIT} --include "*/DIR_METADATA" --include "OWNERS*" --include "*.[ch]" --include "*.cc" --include "*.cpp" --include "*.gn" --include "*.gni" --include "*.md" --include "*.policy" --include "*.proto" --include "*.py" --include "*.textproto" --exclude "*" ${PRESUBMIT_FILES}


